*{
    box-sizing: border-box;
    margin: 10;
    padding: 0;
    background-color: rgb(0, 153, 255);
}

html{
    font-size: 62.5%;
}

.mother{
    position: relative;
    bottom: 10px;
    font-size: 1rem;
    width: 24px;
    top: 5px;
    margin: 0 auto;
    border: .5px violet solid;
    background-color: cyan;
    border-radius: 1rem;
}

.container{
    position: static;
    font-size: .8rem;
    background-color:rgb(4, 150, 207);
    text-align: center;
    width: 100px;
    max-height: 100px;
    height: 100px;
    margin: 0 auto;
    border: .5px violet solid;
    border-radius: 1rem;
}

.img{
    width: 40px;
    height: 30px;
}