.challenge {
  color: green;
  font: 1em sans-serif;
  font-size: 40px;
}

.title {
  color: violet;
  font-style: italic;
  font-size: extra-large;
}

.li {
  font: caption;
  color: blue;
  font-size: 35px;
}

.ol {
  font: bolder;
  color: red;
  font-size: 30px;
}

.footer {
  font: icon;
  color: brown;
  font-size: xx-large;
}

.image {
  width: 250px;
  height: 150px;
}